.who-cover {
    height: 100%;
    width: 100%;
    padding: 3rem 24px;
    max-width: var(--max-width);
    margin: auto;  
}

.who-cover p {
    font-weight: 600;
}

.who-image {
    
}

@media (min-width:426px){
    .who-cover {
        padding: 3rem 40px; 
    }

}